<% form_for(Comment.new) do |f| -%>
	<%= f.hidden_field :post_id, :value => id -%>
	<%= f.label "Имя" -%> <br />
	<%= f.text_field :name -%>
	<%= f.label "Email" -%> <br />
	<%= f.text_field :email -%>
	форматирование при помощи <a href="http://l.it-karma.ru/1p">Textile</a>
	<%= f.text_area :comment -%>
	<%= recaptcha_tags :ajax => true, :error => true -%>
  <%= f.submit "#{ t :comment_yes }" -%>
<% end -%>
