<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<% if @page_title -%>
		<title><%= @page_title -%> - это вымысел</title>
	<% else -%>
    <title>все это вымысел!</title>
  <% end -%>
  <%= render :partial => 'shared/meta_content', :locals => { :post => @post } -%>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= render :partial => 'shared/forgery_protection' %>
  <%= auto_discovery_link_tag(:atom, 'http://feeds.feedburner.com/it-karma', :title => "Весь этот вымысел.") %>
<link rel="icon" type="image/gif" href="/favicon.gif" />
</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
<%= render :partial => 'shared/analytics' %>
</body>
</html>
